<div class="user-widget-detail-wrapper">
  <div class="user-widget-detail-header">
    <h2><span>User Info</span></h2>
  </div>
  <div class="user-widget-detail-avatar">
    <img src="assets/images/avatar-placeholder.png"/>
  </div>
  <div class="user-widget-detail-bio">
    <div class="user-widget-detail-bio-label">
      <div>Label</div>
      <div ng-bind="vm.userDetail.name"></div>
    </div>
    <div class="user-widget-detail-bio-desc">
      <div>Bio</div>
      <div ng-bind="vm.userDetail.bio"></div>
    </div>
  </div>
</div>
